.contact {
	position: relative;


	&__info {
		align-self: center;
		position: relative;
		width: 100%;
		padding: 3rem 1rem;
		margin-top: 3rem;

		&:before, &:after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
		}

		&:before {
			border-top: 18px solid $black;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			top: 0;
		}

		&:after {
			border-top: 18px solid $red;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			bottom: -18px;
		}

		p:last-child() {
			margin-bottom: 0;
		}

		a {
			transition: all ease .3s;
			color: $white;

			&:hover {
				color: $black;
			}
		}	

		@include above (sm) {
			padding: 11rem 3rem;
			width: calc(50% - 3rem);
			margin-left: 3rem;
		}
	}

	&__title {
		margin-top: 0;
		font-size: 34px;

		@include above (lg) {
			font-size: 44px;
		}
	}
}