.page {

	&__hero {
		background: no-repeat center center;
		background-size: contain;
		color: $white;
		padding-top: 5rem;
		padding-bottom: 5rem;
		text-transform: uppercase;

		@include above (sm) {
			font-size: 24px;
			padding-top: 15rem;
			padding-bottom: 10rem;

		}

		@include above (md) {
			font-size: 34px;
		}
	}
	
	&__title {
		line-height: 1.2;
		margin-bottom: 2rem;
		
		span {
			display: block;
			font-size: 30px;

			@include above (sm) {
				font-size: 40px;
			}

			@include above (md) {
				font-size: 50px;
			}

			 @include above (lg) {
				font-size: 70px;
			 }
		}
	}
}
