.variants {

	@include triangle-transparent();

	&__product-img {
		position: relative;
		z-index: 20;
	}

	&__content {
		position: relative;
		z-index: 10;

		@include above (sm) {
			padding-top: 3rem;
			padding-bottom: calc(3rem + 18px);
		}

		&:before, &:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: -1;
			top: 0;
		}

		&:before {
			left: -100%;
		}

		&:after {
			right: -100%;
		}
	}

	&__item {
		@include below (sm) {
			padding-top: 1.5rem;
		}
	}

	&__title {
		margin-top: 0;
	}


	&__fb {
		margin-left: 2.5rem;
		line-height: 0;
	}

	.mega--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $mega-dark);
		}

		&:after {
			background: #00558c;
		}
	}

	.classic--bg {

		&:before {			
			background: linear-gradient(to right, $black 80%, $classic-dark);
		}

		&:after {
			background: $gray;
		}
	}

	.soft--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $soft-dark);
		}

		&:after {
			background: #ac712a;
		}
	}

	.blood--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $blood-dark);
		}

		&:after {
			background: #a20c0e;
		}
	}

	.mix--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $mix-dark);
		}

		&:after {
			background: #ffb12d;
		}
	}

	.sour-skulls--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $sour-skulls-dark); 
		}

		&:after {
			background: #c0d674;
		}
	}

	.coins--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $coins-dark); 
		}

		&:after {
			background: #adbacd;
		}
	}

	.sour-coins--bg {

		&:before {
			background: linear-gradient(to right, $black 80%, $sour-coins-dark); 
		}

		&:after {
			background: #f29fc4;
		}
	}
}