.btn {
	display: inline-block;
	font-family: $custom-font-headings;
	padding: .6rem 3rem;
	color: $white;
	cursor: pointer;

	&--red {
		position: relative;
		background: $red;

		&:before, &:after {
			content: '';
			width: 0; 
			height: 0; 
			top: 0;
			position: absolute;
		}

		&:before {
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			border-left: 22px solid $black;
			left: 0;
		}

		&:after {
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			border-right: 22px solid $black;
			right: 0;
		}

		&--flag {
			
			&:before {
				display: none;
			}


			&:after {
				border-top: 21.5px solid $red;
				border-bottom: 21.5px solid $red;
				border-right: 21.5px solid transparent;
				right: -21px;
			}
		}
	}

	&--black {
		position: relative;
		background: $black;
		padding-right: calc(3rem + 22px);

		&:before, &:after {
			content: '';
			width: 0; 
			height: 0; 
			top: 0;
			position: absolute;
		}

		&:after {
			border-top: 21.5px solid transparent;
			border-bottom: 21.5px solid transparent;
			border-right: 21.5px solid $red;
			right: 0;
		}
	}
}