/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "red" $red, "classic" $classic, "mega" $mega, "soft" $soft, "blood" $blood, "mix" $mix, "sour-skulls" $sour-skulls, "coins" $coins, "sour-coins" $sour-coins;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background: $value; 
  }
}
