/********************MIXINS*********************/

@mixin m {
  @media (min-width: #{ $max-width + 5 + 'em' }) {
    @content;
  }
}

// Line-height
@mixin line-height($number) {
  line-height: #{ $number * $leading-rem + 'rem'};
}

// Margin-top
@mixin margin-top($number) {
  margin-top: #{ $number * $leading-rem + 'rem'};
}

// Margin-bottom
@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $leading-rem + 'rem'};
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

// padding
@mixin padding($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

@mixin padding-equal($number) {
  padding: #{ $number * $leading-rem + 'rem'};
}

/* CSS Horizontal Centering */
@mixin halign {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* CSS Vertical Centering */
@mixin valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
}

/* CSS Horizontal & Vertical Centering */
@mixin hvalign {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  margin-bottom: 0;
}

/* Ionicons */
@mixin icons {
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* WebKit-proof */
@mixin webkit-proof {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  position: relative;
  overflow: hidden;
}


@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin triangle-transparent($color: $black) {
    position: relative;

    .arrow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: rgba($color, 1);
      left: 0;
      z-index: 10;
    }

    .arrow:before, .arrow:after {
      content:'';
      position: absolute;
      bottom: 100%;
      width: 50vw;
    }

    .arrow:before {
      right: 50%;
      border-bottom: 18px solid rgba($color, 1);
      border-right: 18px solid transparent;
      width: calc(50vw + 33.33333%);
    }

    .arrow:after {
      left: 50%;
      border-bottom: 18px solid rgba($color, 1);
      border-left: 18px solid transparent;
    }
  }