/********************VARIABLES********************/

$edit-mode: true; // [ true / false ] - Enables/disables the grid toggle button.

// Custom fonts example (modify as needed)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600); 

// Custom fonts example (modify as needed)
@font-face {
  font-family: 'rodchenko';
  src: url('../fonts/rodchenko.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Theme / Fonts
$theme: custom; // [ Merriweather / OpenSans / custom ]
$custom-font-body: "Open Sans", serif; // [ "Libre Baskerville", Georgia, serif ]
$custom-font-headings: "rodchenko", sans-serif;

// Paragraph indenting
$paragraph-indent: false; // [ true / false ]

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 
$line-height: 1.5; // In REMs. Value here equates to 27px.
$line-height-desktop: 1.625; // In REMs. Value here equates to 32.5px.
$max-width: 35; // Number only, no units. Gets converted to REMs.


/* Calculations
   ========================================================================== */

// Mobile base & leading
$base: 16 * ($base-font-size / 100);
$leading-rem: $line-height;

// Desktop base & leading
$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-rem-desktop: $line-height-desktop;

/* Font themes
   ========================================================================== */

$font-body: null;
$font-headings: null;

@if $theme == Merriweather {

  // Import Merriweather
  @import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

  // Set body font
  $font-body: Merriweather, Georgia, serif;

} @else if $theme == OpenSans {

  // Import Open Sans
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

  // Set body font
  $font-body: Open Sans, Arial, Helvetica, Sans-serif;

} @else if $theme == custom {

  // Set custom body font
  $font-body: $custom-font-body;

  // Set custom headings font
  @if $custom-font-headings != $custom-font-body {
    $font-headings: $custom-font-headings;
  }
}

/********* Custom colors example (modify as needed) *********/

/*
Cool
*/


/*
Warm
*/
$red: #d71921;

/*
Gray Scale
*/

$white: white;
$gray: #606060;
$black: black;

$mega-dark: darken(#00558c, 20%);
$classic-dark: darken($gray, 30%);
$soft-dark: darken(#ac712a, 30%);
$blood-dark: darken(#a20c0e, 30%);
$mix-dark: darken(#ffb12d, 30%);
$sour-skulls-dark: darken(#c0d674, 30%);
$coins-dark: darken(#adbacd, 30%);
$sour-coins-dark: darken(#f29fc4, 30%);


//product gradient colors
$classic: linear-gradient(to right, $classic-dark, $gray);
$mega: linear-gradient(to right, $mega-dark, #00558c);
$soft: linear-gradient(to right, $soft-dark, #ac712a);
$blood: linear-gradient(to right, $blood-dark, #a20c0e);
$mix: linear-gradient(to right, $mix-dark, #ffb12d);
$sour-skulls: linear-gradient(to right, $sour-skulls-dark, #c0d674);
$coins: linear-gradient(to right, $coins-dark, #adbacd);
$sour-coins: linear-gradient(to right, $sour-coins-dark, #f29fc4);




// Set font colors
$color-font-body: $black;
$color-font-headings: $color-font-body;
$color-font-light: lighten($black, 20%);
$color-font-figcaption: $color-font-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          2rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;